html{
 
    --blue: #266bff;
    --whrite: #fff;
    --black: #1c1e21;
}

h2{
    color: #1c1e21;
   font-size: 28px;
   font-family: Helvetica, sans-serif;
   font-weight: 400;
   
}
body{
    height: 100vh;
    background: #f0f2f5;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    overflow-y: scroll;
    padding-left: 50px;
    padding-right: 50px;
}

body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;

}

form {
    margin: 0;
    padding: 16px 10px 10px 16px;
    text-align: center;
    background-color: #fff;
}

img{
    max-width: 240px;
    display: block;
    max-width: 100%;
    height: 106px;
    margin:-28px;
}

.container{

    padding-top: 130px;
    padding-bottom: 200px;
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
    align-items: center;
    
}

input{
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 2px;
    border: 1px solid #dddfe2;
    outline: none;
    display: block;

}

input:focus{
    border-color:#1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color:#1877f2;
}

*{
    box-sizing: border-box;
}

input[placeholder]{
    font-family: Helvetica, sans-serif;
}

input::placeholder {
    font-size: 18px;
    color: #1d2129;
    opacity: 0.6;
}

.enter{
    background: #1877f2;
    border:none;
    padding: 16px;
    font-family: Helvetica, sans-serif;
    width: 100%;
    transition: 200ms cubic-bezier(.08,.52,1);
}

.enter, .conta{
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    transition: 200ms cubic-bezier(.08, .52, .52,1);

}

.conta:hover{
    background: #36a420;
}

.conta{
   
    background: #42b72a;
    margin: 0 auto;
    margin-top: 24px;
    padding: 16px;
    width: 50%;
}

form a {
    
    text-align: center;
    display: block;
    margin-top: 16px;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
    padding-bottom: 16px;
    border-bottom: 1px solid #dadde1;
}

form a:hover{
text-decoration: underline;
}


p, p > a{
    color:#1c1e21;
    font-size:14px;
    margin: 28px 0 0 0;
    text-align: center;

}

p > a {
    font-weight: bold;
    text-decoration: none;

}

p > a:hover{
    text-decoration: underline;

}

footer{
    background: #fff;
    font-size: 14px;
    color: #737373;
    margin-left: -50px;
    margin-right: -50px;
    text-align: center;
    height: 219px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.enter:hover{
    background: #166fe5;
}

@media(max-width: 900px){
    .container{
        grid-template-columns: 1fr;
    }
    .intro{
        margin-bottom: 0px;
        text-align: center;
        margin: 0 auto;
    }
    .logo{
        margin: -28px auto;
    }
    p{
        text-align: center;
    }
    form{
        max-width: 480px;
        margin: 0 auto;
    }
}